<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Portfolio</title>
    <link rel="icon" type="image/svg+xml" href="static/favicon/tux_icon.ico" />
    <script src="src/js/htmx.min.js"></script>
    <link rel="stylesheet" href="src/css/styles.css" />
    <script src="" type="module"></script>
  </head>
  <body hx-boost="true">
    <main id="main-container">
      <h1>hoommmeeee</h1>
      <a
        class=""
        hx-get="/index.html"
        hx-push-url="/"
        hx-select="#main-container"
        hx-swap="outerHTML swap:0.3s"
        hx-target="#main-container"
      >
        HOME
      </a>
    </main>
  </body>
</html>
