<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Portfolio</title>
    <link
      rel="icon"
      type="image/svg+xml"
      href="/my-portfolio/static/favicon/tux_icon.ico"
    />
    <script src="/my-portfolio/src/js/htmx.min.js"></script>
    <link rel="stylesheet" href="/my-portfolio/src/css/styles.css" />
    <script src="" type="module"></script>
  </head>
  <body hx-boost="true">
    <header>
      <div>
        <a
          class=""
          hx-get="/my-portfolio/index.html"
          hx-on::after-request="window.scrollTo({ top: 0, behavior: 'smooth' });"
          hx-push-url="/my-portfolio"
          hx-select="#main-container"
          hx-swap="outerHTML swap:0.3s"
          hx-target="#main-container"
        >
          <h2>LOGO</h2>
        </a>
      </div>
      <div class="link-container">
        <a
          class=""
          hx-get="/my-portfolio/index.html"
          hx-on::after-request="window.scrollTo({ top: 0, behavior: 'smooth' });"
          hx-push-url="/my-portfolio"
          hx-select="#main-container"
          hx-swap="outerHTML swap:0.3s"
          hx-target="#main-container"
        >
          HOME
        </a>
        <a
          class=""
          hx-get="/my-portfolio/views/about.html"
          hx-on::after-request="window.scrollTo({ top: 0, behavior: 'smooth' });"
          hx-push-url="/my-portfolio/views/about"
          hx-select="#main-container"
          hx-swap="outerHTML swap:0.3s"
          hx-target="#main-container"
        >
          ABOUT
        </a>
        <a
          class=""
          hx-get="/my-portfolio/views/projects.html"
          hx-on::after-request="window.scrollTo({ top: 0, behavior: 'smooth' });"
          hx-push-url="/my-portfolio/views/projects"
          hx-select="#main-container"
          hx-swap="outerHTML swap:0.3s"
          hx-target="#main-container"
        >
          PROJECTS
        </a>
        <a
          class=""
          hx-get="/my-portfolio/views/contact.html"
          hx-on::after-request="window.scrollTo({ top: 0, behavior: 'smooth' });"
          hx-push-url="/my-portfolio/views/contact"
          hx-select="#main-container"
          hx-swap="outerHTML swap:0.3s"
          hx-target="#main-container"
        >
          CONTACT
        </a>
      </div>
    </header>
    <main id="main-container" class="htmx-fade-in htmx-fade-out">
      <h1>CONTACT</h1>
      <p>
        This will include a form latter, but for now, just a placeholder text
      </p>
    </main>
    <footer>
      <div class="flex-col">
        <h3>Site Map</h3>
        <a
          class=""
          hx-get="/my-portfolio/index.html"
          hx-on::after-request="window.scrollTo({ top: 0, behavior: 'smooth' });"
          hx-push-url="/my-portfolio/"
          hx-select="#main-container"
          hx-swap="outerHTML swap:0.3s"
          hx-target="#main-container"
        >
          HOME
        </a>
        <a
          class=""
          hx-get="/my-portfolio/views/about.html"
          hx-on::after-request="window.scrollTo({ top: 0, behavior: 'smooth' });"
          hx-push-url="/my-portfolio/views/about"
          hx-select="#main-container"
          hx-swap="outerHTML swap:0.3s"
          hx-target="#main-container"
        >
          ABOUT
        </a>
        <a
          class=""
          hx-get="/my-portfolio/views/projects.html"
          hx-on::after-request="window.scrollTo({ top: 0, behavior: 'smooth' });"
          hx-push-url="/my-portfolio/views/projects"
          hx-select="#main-container"
          hx-swap="outerHTML swap:0.3s"
          hx-target="#main-container"
        >
          PROJECTS
        </a>
        <a
          class=""
          hx-get="/my-portfolio/views/contact.html"
          hx-on::after-request="window.scrollTo({ top: 0, behavior: 'smooth' });"
          hx-push-url="/my-portfolio/views/contact"
          hx-select="#main-container"
          hx-swap="outerHTML swap:0.3s"
          hx-target="#main-container"
        >
          CONTACT
        </a>
      </div>
      <p>&copy; 2025 Lukas. All rights reserved.</p>
    </footer>
  </body>
</html>
