@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Jersey+10&family=Jersey+25&family=Saira+Stencil+One&display=swap");

@layer reset, variables, base, components, utilities;

@layer reset {
  * {
    box-sizing: border-box;
    margin: var(--margin-none);
    padding: var(--padding-none);
  }
}

@layer varaibles {
  :root {
    --base: #002451;
    --text: #ffffff;
    --main: #8dfffe;
    --sub: #9dff9a;
    --err: #ff9b9b;
    --warn: #ffe792;
    --accent: #bbdaff;
    --success: #79d749;

    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-md: 1.125rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --text-2xl: 1.875rem;
    --text-3xl: 2.25rem;
    --text-4xl: 3rem;
    --text-5xl: 3.75rem;
    --text-6xl: 4.5rem;

    --m-none: 0px;
    --m-xxs: 0.25rem;
    --m-xs: 0.5rem;
    --m-sm: 0.75rem;
    --m-md: 1rem;
    --m-lg: 1.5rem;
    --m-xl: 2rem;
    --m-2xl: 3rem;
    --m-3xl: 4rem;
    --m-4xl: 6rem;
    --m-5xl: 8rem;
    --m-6xl: 10rem;

    --p-none: 0px;
    --p-xxs: 0.25rem;
    --p-xs: 0.5rem;
    --p-sm: 0.75rem;
    --p-md: 1rem;
    --p-lg: 1.5rem;
    --p-xl: 2rem;
    --p-2xl: 3rem;
    --p-3xl: 4rem;
    --p-4xl: 6rem;
    --p-5xl: 8rem;
    --p-6xl: 10rem;

    --gap-none: 0px;
    --gap-xxs: 0.25rem;
    --gap-xs: 0.5rem;
    --gap-sm: 0.75rem;
    --gap-md: 1rem;
    --gap-lg: 1.5rem;
    --gap-xl: 2rem;
    --gap-2xl: 3rem;
    --gap-3xl: 4rem;
    --gap-4xl: 6rem;
    --gap-5xl: 8rem;
    --gap-6xl: 10rem;

    /* breakpoints */
    --sm: 640px;
    --md: 768px;
    --lg: 1024px;
    --xl: 1280px;
    --2xl: 1536px;

    /* fonts */
    --font-base: "Fraunces";
    --font-title: "Racing Sans One";
  }
}

@layer base {
  body {
    background-color: var(--base);
    color: var(--text);
    font-family: var(--font-base);
    min-height: 100vh;
    line-height: 1.6rem;
    margin-bottom: 300px;
    min-width: 100vw;
    overflow-x: hidden;
  }

  header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: var(--p-lg);
    width: 100vw;
  }

  footer {
    align-items: center;
    background-color: var(--base);
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
    left: 0;
    padding-top: var(--p-2xl);
    position: fixed;
    width: 100vw;
    z-index: -9999;
  }

  main {
    align-items: center;
    background-color: var(--base);
    display: flex;
    flex-direction: column;
    gap: var(--gap-3xl);
    justify-content: flex-start;
    min-height: 100vh;
    padding: var(--p-lg);
    width: 100vw;
  }

  section {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--gap-3xl);
    justify-content: flex-start;
    padding: var(--p-lg);
    width: 100vw;

    @media (min-width: 640px) {
      padding: var(--p-2xl) var(--p-5xl);
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-title);
  }

  a {
    color: var(--text);
    transition: color 0.4s ease;
  }

  a:hover {
    color: var(--sub);
  }

  button {
    background-color: var(--base);
    color: var(--text);
    font-family: var(--font-title);
    font-size: var(--text-md);
    padding: var(--p-md) var(--p-sm);
  }
}

@layer utilities {
  .htmx-fade-out.htmx-swapping {
    opacity: 0;
    transition: opacity 0.1s ease-out;
  }

  .htmx-fade-in.htmx-added {
    opacity: 0;
  }

  .htmx-fade-in {
    opacity: 1;
    transition: opacity 0.4s ease-in;
  }
  .flex-row {
    align-items: center;
    display: flex;
    gap: var(--gap-lg);
    justify-content: center;
  }

  .flex-col {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: var(--gap-lg);
    justify-content: center;
  }

  .dashed-line-lg {
    border-top: 2px dashed var(--main);
    width: 80%;
  }

  .dashed-line-md {
    border-top: 2px dashed var(--main);
    width: 50%;
  }

  .dashed-line-sm {
    border-top: 2px dashed var(--main);
    width: 20%;
  }

  .border-primary {
    border: 2px solid var(--main);
    border-radius: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    outline: 2px solid var(--main);
    outline-offset: 2px;
    transition:
      border-color 0.2s ease-out,
      outline-color 0.2s ease-out,
      transform 0.2s ease-out,
      box-shadow 0.2s ease-out;
  }

  .border-primary:hover {
    border-color: var(--sub);
    outline-color: var(--sub);
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

  .border-primary:active {
    border-color: var(--sub);
    outline-color: var(--sub);
    transform: translateY(0px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}

@layer components {
  header .link-container {
    display: none;
    font-family: var(--font-title);

    @media (min-width: 640px) {
      align-items: center;
      display: flex;
      gap: var(--gap-lg);
      justify-content: center;
    }
  }
}
